/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display:flex;
}
header{
    background: rgb(160, 120, 175);
} */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* background: rgb(226, 219, 228); */
    background: white;
}
header{
    /* display: flex; */
    
    /* background: rgb(80, 4, 116); */
    /* background: #5D48B9; */
    background:#050505;
    
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 50px;
}
.menus, .icons{
    display: flex;
    justify-content: space-between;
    list-style: none;
    text-decoration: none;

}
.menus{
    margin-left: 200px;
}

.icons a, .menu{
    display: flex;
    justify-content: space-between;
    color: white;
    margin-left: 15px;
    margin-right: 15px;
    align-items: center;
    font-size:30px;
    font-family:  serif;
    list-style: none;
    text-decoration: none;
}
.icons a:hover{
    color: #e09f3e;
    font-size: 35px;
}
.menu:hover{
    color: #e09f3e;
    font-size: 35px;
    font-family: 'PT Serif', serif;
    list-style: none;
    text-decoration: none;
}
.container-figure img{
    border-radius: 50%;
    width: 60%;
}
.avanzar{
    display: flex;
    justify-content: center;
    
}
.inicio i{
    
    color:  #221d15;
    
    
}
.inicio i:hover{
    color: #e09f3e;
    font-size: 50px;
}
.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background: white; */
    background:#fff;
    margin: 50px 10px;
    border-radius: 20px;
    height: 500px;
}
.container:hover{
    
    /* border:2px  #dee2e6; */
    /* background:#e9ecef ; */
    background:#e9edc9 ;
    margin: 55px 15px;
    border-radius: 50px;
    transition: 1s ease;
}
.container:hover .title{
    
    transform: rotate(1deg);
    /* transform: rotate(-5deg); */
}
.img-burguer,
.img-redSocial,
.img-mdlinks,
.img-data{
    /* border: 2px solid red; */
    box-shadow: 2px 2px 10px #666;
    /* box-shadow: 5px -5px 0 2px rgb(226, 220, 231); */
    /* box-shadow: 5px 5px 25px rgb(201, 191, 191) inset; */
    border-radius: 10px;
}
.container-title{
    width: 50%;
}
.container-title h1{
    font-size:40px;
}
.subtitle{
    color: rgb(53, 47, 47);
    font-size: 20px;
}
.intro{
    margin-top: 10px;
    font-size: 20px;
    margin-bottom: 15px;
}

 /* Conocimientos */
.tec{
    background: white;
    /* margin: 20px 0; */
}
/* .tec-conocimientos{
    margin: 20px 0;
} */
.tec-conocimientos h2{
    font-size: 30px;
    display: flex;
    justify-content: center;
    margin: 40px 20px;
    
}
.tec-conocimientos:hover{
    font-size: 35px;
    color:#e09f3e;
    margin: 5px 25px;
    transition: 1s ease;
}
.tec-conocimientos:hover h2{
    transform: translate3d(-5px, -5px, -5px);
}

.container-tecnologias-js{
    display: flex;
    /* flex-wrap: nowrap; */
   justify-content: space-around;
   flex-wrap: wrap;
   margin: 20px 400px;

}
div .img{
    display: flex;
    margin: 20px 10px;

}
div .texto{
    display: flex;
    justify-content: center;
    color: #050505;
    font-size:20px; 
}

/* proyectos  */
.intro-proyectos h2{
    font-size: 30px;
    display: flex;
    justify-content: center;
    margin: 40px 20px;
}
.intro-proyectos:hover{
    font-size: 35px;
    color: #e09f3e;
    margin: 5px 25px;
    transition: 1s ease;
}
.intro-proyectos:hover h2{
    transform: translate3d(-5px, -5px, -5px);
}
 .proyectos-realizados{ 
    
    display: flex;
    flex-direction: column;
    background: #fff;
}
.proyecto-redSocial,
.proyecto-burguer,
.proyecto-mdlinks,
.proyecto-data{
    display: flex;
    justify-content:space-around;
    margin: 50px 50px;
    
}
.intro-burguer,
.intro-redSocial,
.intro-mdlinks,
.intro-data{
    width: 50%;
    font-size: 20px;

}
.intro-burguer .title,
.intro-redSocial .title,
.intro-mdlinks .title,
.intro-data .title{
  font-size: 25px;
  margin-bottom: 20px;
  font-family: 'Ubuntu', sans-serif;
}
.parrafo{
    margin-bottom: 30px;
}
.intro-burguer a,
.intro-redSocial a,
.intro-mdlinks a,
.intro-data a{
    margin: 10px 5px;
    padding: 10px 30px;
    border:2px  solid #adb5bd;
    border-radius: 10px;
    /* background: #495057; */
    background: #e09f3e;
    box-shadow: 2px 2px 10px #666;

    /* background: #e29578; */
    color: #fff;
    text-decoration: none;
}
.intro-burguer a:hover,
.intro-redSocial a:hover,
.intro-mdlinks a:hover,
.intro-data a:hover{
    background: #343a40;
    padding: 15px 35px;
    color:#fefae0;
}
footer{
    display: flex;
    flex-direction: column;
    background:#343a40 ;
    color: #edf2f4;
  
}
.intro-contacto h2{
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 30px;
    margin-top: 20px ;
}
.intro-contacto p{
    margin-left: 400px;
    font-size: 20px;
}
.intro-contacto:hover{
    font-size: 35px;
    color: #e09f3e;
    margin: 5px 25px;
    transition: 1s ease;
}
.intro-contacto:hover h2{
    transform: translate3d(-5px, -5px, -5px);
}
.name{
    background: #050505;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-content: center;
    color: #fff;;

}
.social {
    display: flex;
    justify-content: center;
    transition: 1s ease;
}
.social a{
    color:#fff;
    background: #343a40 ;
    font-size: 40px;
    margin: 20px 20px;
}
.social a:hover i{
    color:#050505;
    background: #343a40 ;
    font-size: 50px;
    margin: 20px 20px;
    transform: translateZ(5px);
}